/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.text {
  background-color: #fff;
  padding: 8px;
  border: 10px;
  width: 140px;
  text-align: center;
}
